<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8"/>
    <title>{{pageTitle}}</title>
    <header>
      <a href="/about">About</a>
    </header>
  </head>
  <body>
    <p>{{screamIt welcomeMessage}}</p>
    {{> footer}}
  </body>

</html>
